.active-btn {
    color: #FF651C;
    background-color: transparent;
}

.item-container {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.item-container:hover {
    border-color: #FF651C;
}

.item img {
    opacity: 1;
    transition: all 0.35s ease;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project_image {
    display: inline-block;
    width: 100%;
    height: 22rem;
    border-radius: .4rem;
    object-fit: contain;
    object-position: center;
    background-color: #313131;
}

@media only screen and (max-width: 768px) {
    .project_image {
        height: 18rem;
    }
}